@{
    ViewBag.Title = "Spark by First National Bank";
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Spark!</h1>
        <p>Spark is a crowd sourcing website for First National Bank to improve your banking experience</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>What's a Spark?</h2>
            Sparks are questions posed by First National Bank aimed at making your banking experience better.
            Make a suggestion on a Spark to let your voice be heard.
        </div>

        <div class="col-lg-4">
            <h2>Brainstorm!</h2>
            Sparks evolve through community discussion and the give and take of ideas.
            Upvote suggestions you like or add your own twist!
        </div>

        <div class="col-lg-4">
            <h2>Win Prizes!</h2>
            First National Bank will reward notewarthy ideas with special prizes and customer benefits.
            Prizes are based on users that played key roles in moving a Spark forward.
        </div>
    </div>
</div>

